.mainPage {
    height: 100vh;
    background-color: rgba(216, 214, 214, 0.753);
    
}

.header {
    width: 100%;
    text-align: center;
    color:white;
    border-bottom: 2px rgb(148, 146, 146) solid;
    background-color: rgba(181, 203, 238, 0.918);
}

.section {
    min-height: 35%;
  
  }

