.titulos {
    margin: 20px 30px;
    
}

button {
    color: rgb(253, 253, 253);
    background-color: rgb(76, 101, 241);
    border: solid  rgb(76, 101, 241) 1px;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px 0px;
}

span {
    margin: 0px 30px;
}