.titulos {
    margin: 20px 30px;
    
}

button {
    color: rgb(0, 140, 255);
    background-color: white;
    border: solid black 1px;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px 0px;
}

span {
    margin: 0px 30px;
}